<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/f1.css" %}">
</head>

<body>

    <h1>hello we are inside the app </h1>

    {% for i in num %}
    {{ i }} <!-- Output the current value of i for debugging -->
    {% if i > 10 %}
        <h1>{{ i }}</h1>
    {% endif %}
{% endfor %}


<img  src= {% static 'images/wellpaper.jpg' %}>

</body>

</html>